:root {
   
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
  
    
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196f3;
    --white-txt-cl: #ffffff;
    --descr-txt-cl: #757575;
    --foot-txt-cl: rgba(255, 255, 255, 0.6);
    --placeholder-txt-cl: rgba(117, 117, 117, 0.5);
  
  
    --white-bg-cl: #ffffff;
    --light-bg-cl: #f5f4fa;
    --dark-bg-cl: #2f303a;
    --accent-bg-cl: #2196f3;
    --btn-bg-cl: #188ce8;
    --icon-bg-cl: #afb1b8;
    --dark-icon-bg-cl: rgba(255, 255, 255, 0.1);
    --dark-dec-bg-cl: rgba(47, 48, 58, 0.8);
    --modal-bg-cl: rgba(0, 0, 0, 0.2);
    --overlay-bg-cl: rgba(33, 150, 243, 0.9);
  
   
    --border-head-cl: #ececec;
    --border-card-cl: #eeeeee;
    --border-foot-cl: rgba(255, 255, 255, 0.3);
    --border-form-cl: rgba(33, 33, 33, 0.2);
  
    --timing-fuction: cubic-bezier(0.4, 0, 0.2, 1);
  }