.hero {
  background-color: var(--dark-bg-cl);
  padding: 118px 0;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.hero__overlay {
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header/header@1x_sm.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header/header@2x_sm.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: inear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header/header@1x_md.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: inear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header/header@2x_md.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;

    background-image: inear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/header/header@1x_lg.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: inear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/header/header@2x_lg.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);

  width: 360px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    width: 696px;
  }
}

.hero__btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  background-color: var(--accent-bg-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);

  transition: background-color 250ms var(--timing-fuction);

  &:hover,
  &:focus {
    background-color: var(--btn-bg-cl);
  }
}
