.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin-right: auto;
    align-items: center;
  }
}

.nav__link {
  @extend %reset-link;

  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  transition: color 250ms var(--timing-fuction);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  &--current {
    color: var(--accent-txt-cl);
    position: relative;
  }

  &--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-bg-cl);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  @extend %reset-list;

  display: flex;
  gap: 50px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
