.menu-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-overlay .menu-btn {
  position: absolute;
  top: 48px;
  right: 30px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--white-bg-cl);
  z-index: 100;

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-fuction), visibility 250ms var(--timing-fuction);
}

@media screen and (min-width: 768px) {
  .menu-overlay {
    display: none;
  }
}

.menu-overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu__conteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-color: var(--white-bg-cl);

  padding: 48px 40px;

  transform: translateX(100%);
  transition: transform 250ms var(--timing-fuction);
}

.menu-overlay.is-open .menu-container {
  transform: translateX(0);
}

.menu-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;

  cursor: pointer;
  color: var(--main-txt-cl);

  //   &:active {
  //     color: var(--accent-bg-cl);
  //   }

  transition: color 250ms var(--timing-fuction);

  &:hover,
  &:focus {
    color: var(--accent-bg-cl);
  }
}

.menu-close__icon {
  fill: currentColor;
}

.mobile__nav {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile__list {
  @extend %reset-list;

  &:first-child {
    margin-bottom: auto;
  }

  &:nth-child(2) {
    margin-bottom: 64px;
  }
}

.mobile__link {
  @extend %reset-link;

  font-size: 40px;
  line-height: calc(47 / 40);

  &--current {
    color: var(--accent-txt-cl);
  }
}

.mobile-contacts__link-tel,
.mobile-contacts__link-mail {
  @extend %reset-link;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__link-tel {
  font-size: 34px;
  line-height: calc(40 / 34);

  color: var(--accent-txt-cl);
}

.mobile-contacts__link-mail {
  font-size: 24px;
  line-height: calc(28 / 24);

  color: var(--descr-txt-cl);
}

.mobile-socials__link {
  @extend %reset-link;

  font-size: 18px;
  line-height: calc(22 / 18);

  color: var(--accent-txt-cl);
}

.mobile-socials__list {
  @extend %reset-list;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mobile-socials__item:not(:last-child) .mobile-socials__link {
  display: flex;

  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
