.menu-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  
  background-color: var(--white-bg-cl);
  z-index: 100;

  padding: 48px 40px;
}

.menu-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;

  cursor: pointer;
  color: var(--main-txt-cl);

//   &:active {
//     color: var(--accent-bg-cl);
//   }

  transition: color 250ms var(--timing-fuction);

  &:hover,
  &:focus {
    color: var(--accent-bg-cl);
  }
}

.menu-close__icon {
    fill: currentColor;
}



.menu__list {
    @extend %reset-list;
    
}

.menu__link {
    @extend %reset-link;
}