.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--white-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-fuction);

  @media screen and (max-width: 450px) {
    width: 100vw;
  }

 
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;

  background: var(--white-bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: black;

  transition: color 250ms var(--timing-fuction);

  &:hover,
  &:focus {
    color: var(--accent-bg-cl);
  }
}

.modal-btn-icon {
  fill: currentColor;
}

.form-modal {
  text-align: center;
}

.form-title {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;

  @media screen and (min-width: 1200px) {
    line-height: calc(23 / 20);
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--descr-txt-cl);
}

.form-input {
  width: 100%;
  padding: 12px 11px;
  padding-left: 42px;

  outline: transparent;
  border: 1px solid var(--border-form-cl);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-fuction);

  &:focus-within,
  &:hover {
    border-color: var(--accent-bg-cl);
  }

  &:focus-within + .form-icon,
  &:hover + .form-icon {
    fill: var(--accent-txt-cl);
  }
}

.comment {
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  resize: none;

  outline: transparent;
  border: 1px solid var(--border-form-cl);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-fuction);

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--placeholder-txt-cl);

  &:focus-within,
  &:hover {
    border-color: var(--accent-bg-cl);
  }
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  display: inline-block;
  fill: var(--main-txt-cl);

  transition: fill 250ms var(--timing-fuction);
}

.policy-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.policy-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--descr-txt-cl);
  user-select: none;
  text-underline-position: under;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.policy-link {
  color: var(--accent-txt-cl);
}

.policy-icon-uncheck {
  .policy-checkbox:checked + .policy-icon & {
    opacity: 0;
    transition: opacity 250ms var(--timing-fuction);
  }
}

.policy-icon-check {
  opacity: 0;
  transition: opacity 250ms var(--timing-fuction);

  .policy-checkbox:checked + .policy-icon & {
    opacity: 1;
  }
}

.form-btn {
  display: inline-flex;
  align-items: center;
  width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);

  background-color: var(--btn-bg-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 55px;
  padding-left: 56px;
  border: none;

  cursor: pointer;

  transition: background-color 250ms var(--timing-fuction);

  &:hover,
  &:focus {
    background-color: var(--accent-bg-cl);
  }
}
